######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Gradle
######################
.gradle/
build/

######################
# Mac OSX
######################
.DS_Store
.svn

######################
# Directories
######################
/build/
/bin/
/deploy/

######################
# Logs
######################
*.log

######################
# Others
######################
*.class
*.*~
*~
.merge_file*

######################
# Gradle Wrapper
######################
!gradle/wrapper/gradle-wrapper.jar

######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
